@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Poppins;
}

.navbar-inner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  background-color: bisque;
}
.navbar-inner-container h2{
  padding: 20px;
}

.navbar-menu-items{
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.hero-div{
  width: 100vw;
  height: 20rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

.hero-image{
  position: absolute;
  width: 100%;
  top: -300px;
  object-fit: cover;

}
.post-display-outer-container{
  display: flex;
  justify-content: center;
}

.post-display-inner-container{
  width: 96vw;
  height: auto;
  background-color: aquamarine;
  
}
.post{
  padding: 15px;
  font-size: 1.9rem;
}

.post-form-outer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 50vh;
  background-color: #7f7fe4;
  margin: 2rem 2rem;
  
}
.post-form-outer-container button{
  height: 2rem;
  width: 6rem;
  margin: 2rem 0 2rem 0;
}
.post-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-form textarea{
  width: 20rem;
  height: 8rem;
}

.form-outer-container{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at center, #a5c3d6, #7f7fe4);
}

.form-inner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 60vh;
}
.form-inner-container h1{
  margin-bottom: 2rem;
}
.form-inner-container form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  font-family: 'Lucida Sans';
  font-weight: bold;
}
.form-inner-container label{
  text-transform: uppercase;
}
.form-inner-container button{
  width: 50%;
  height: 2rem;
  background-color: rgb(9, 5, 84);
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;

}
.form-inner-container input{
  height: 2rem;
}

.lds-dual-ring{
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

